header {
    border-bottom: 1px solid #9c0c1e;
    background: -webkit-linear-gradient(top,#f61800 0,#d41200 100%);
    color: #fff;
    height: 50px;
    padding: 10px;  
}
.logo {
    background: url('../../icons/hotels-logo.png') no-repeat 100%;
    background-size: 100%;
    width: 120px;
    text-indent: -9999px;
    display: block;
    outline: none;
    padding: 5px 10px;
}
a:focus {
    outline: none;
}
#mainPopup {
    width: 500px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    background: #eae8e0;
}
.section {
    padding: 10px;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0 1px #f5f4f0;
}
.twitter-typeahead {
    width: 100%;
}
.tt-menu {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
}
.tt-suggestion {
    padding: 5px;
}
.tt-suggestion .highlighted {
    font-weight: bold;
}
.tt-suggestion:hover {
    background: #f4f4f4;
    cursor: pointer;
}
h1 {
    font-size: 2em;
}

